.App {
  text-align: center;
}

.mySlider {
  margin: 10px auto;
  width: 50%;
}

.hiddenP {
  display: none;
}

.displayP {
  display: block;
}

.inputBox {
  width: 300;
  margin: 10;
  margin: 10px;
  border-radius: 3px;
  outline: none;
}

.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 90%;
  height: 110px;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
